*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style: none;
}

body{
    color: #1a1a1a;
}
a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
iframe{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.wrap{
    overflow: hidden;
}
address {
    font-style: normal;
}